# .ebextensions/99outlyer.config
    container_commands:
        01chmod:
            command: "chmod +x .ebextensions/outlyer/hooks/*"
        02mkdir_appdeploy_post:
            test: '[ ! -d /opt/elasticbeanstalk/hooks/appdeploy/post ]'
            command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
        02mkdir_configdeploy_post:
            test: '[ ! -d /opt/elasticbeanstalk/hooks/configdeploy/post ]'
            command: "mkdir /opt/elasticbeanstalk/hooks/configdeploy/post"
        20preinit_stop:
            command: "cp .ebextensions/outlyer/hooks/99stop_outlyer.sh /opt/elasticbeanstalk/hooks/preinit"
        21postinit_start:
            command: "cp .ebextensions/outlyer/hooks/99start_outlyer.sh /opt/elasticbeanstalk/hooks/postinit"
        30configdeploy_pre_stop:
            command: "cp .ebextensions/outlyer/hooks/99stop_outlyer.sh /opt/elasticbeanstalk/hooks/configdeploy/pre/"
        31configdeploy_post_start:
            command: "cp .ebextensions/outlyer/hooks/99start_outlyer.sh /opt/elasticbeanstalk/hooks/configdeploy/post/"
        90install_outlyer:
            command: "curl -s https://packages.outlyer.com/outlyer-pubkey.gpg -o /etc/pki/rpm-gpg/RPM-GPG-KEY-outlyer; cp .ebextensions/outlyer/outlyer.repo /etc/yum.repos.d/outlyer.repo; yum install -y outlyer-agent"
        91setup_outlyer_key:
            command: "sh -c \"sed -i 's/.*key:.*/    key: $(/opt/elasticbeanstalk/bin/get-config environment -k OUTLYER_AGENT_KEY)/' /etc/outlyer/agent.yaml\""
        92setup_outlyer_tags:
            command: "sh -c \"sed -i 's/.*metric_labels:.*/    metric_labels:\\n    - role/' /etc/outlyer/agent.yaml\""
        93setup_outlyer_hostname:
            command: "sh -c \"sed -i 's/.*hostname:.*/    hostname: $(/opt/elasticbeanstalk/bin/get-config environment -k OUTLYER_TAGS)-$(hostname)/' /etc/outlyer/agent.yaml\""
